<p id="notice"><%= notice %></p>
<div class="card text-white bg-dark mb-3" style="width: 70rem;">
  <h5 class="card-header"><%= @home.nome %></h5>
  <%= image_tag(@home.imagem_url, width: 150, class:"card-img-top") if @home.imagem.present? %>

  <%= link_to like_home_path(@home), class:"like-btn", method: :put, remote: :true do%>
  <div>
  Like
  <spam><p><i class= "fa fa-thumbs-up fa-3x"></i></p></spam>
  </div>
  <% end %>

  <spam class="likes-count"><%= @home.get_upvotes.size %> </spam>


  <div class="card-body">
    <p class="card-text"><%= @home.descricao %></p>
    <%= link_to 'Edit', edit_home_path(@home), :class=>"btn btn-primary" %> |
    <%= link_to 'Back', homes_path, :class=>"btn btn-primary " %>
  </div>
</div>

<br>
<h1>Comments</h1>
<br>

<% @comments.each do |comment| %>
  <div class="card text-white bg-dark mb-3" style="width: 70rem;">
    <h5 class="card-header"><%= current_user.email %></h5>
    <div class="card-body">
      <p class="card-text"><%= comment.body %></p>
      <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></p>
    </div>
    <br>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
