<p id="notice"><%= notice %></p>
<div class="card border-dark mb-3" style="width: 70rem;">
  <h5 class="card-header"><%= @home.nome %></h5>
  <%= image_tag(@home.imagem_url, width: 150, class:"card-img-top") if @home.imagem.present? %>
  <div class="card-body">
    <p class="card-text"><%= @home.descricao %></p>
    <%= link_to 'Edit', edit_home_path(@home), :class=>"btn btn-primary" %> |
    <%= link_to 'Back', homes_path, :class=>"btn btn-primary " %>
  </div>
</div>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
