<p id="notice"><%= notice %></p>

<p>
  <strong>Imagem:</strong>
  <%= @home.imagem %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @home.descricao %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @home.nome %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
