<p id="notice"><%= notice %></p>

<p class="lead">
  <strong>Imagem:</strong>
  <%= image_tag(@home.imagem_url, width: 150) if @home.imagem.present? %>
</p>

<p class="lead">
  <strong>Descricao:</strong>
  <%= @home.descricao %>
</p>

<p class="lead">
  <strong>Nome:</strong>
  <%= @home.nome %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
